# Copy this file to .env and fill in your values
TEST_ENV=staging

STAGING_PLAYER_USERNAME=
STAGING_PLAYER_PASSWORD=
STAGING_BO_USERNAME=
STAGING_BO_PASSWORD=
STAGING_BO_2FA_SECRET=

UAT_PLAYER_USERNAME=
UAT_PLAYER_PASSWORD=
UAT_BO_USERNAME=
UAT_BO_PASSWORD=
UAT_BO_2FA_SECRET=

PROD_PLAYER_USERNAME=
PROD_PLAYER_PASSWORD=
PROD_BO_USERNAME=
PROD_BO_PASSWORD=
PROD_BO_2FA_SECRET=